<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    </head>

    <body>
        <div id="admin-entry"></div>
        <script src="http://localhost:9001/assets/admin.bundle.js"></script>
    </body>
</html>